html {
    overflow-y: scroll;
}
body {
    max-width: 60em;
    margin: auto;
}

figure {
    float: right;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.auth {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.titre_accueil {
    text-align: center;
    padding-top: 5%;
}

.contenu_technique {
    text-align: center;
}