* {
    margin:0;
    padding:0;
}

body {
    background-color: #005d7e;
    margin-top: 1%;
}

.main {
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}

.contenu-page {
    max-width: 60em;
    margin: auto;
    color: white;
    padding-right: 3%;
    padding-left: 3%;
}

figure {
    float: right;
    text-align: center;
}

/*############ Style affichage du menu ############*/
.menu ul {
    list-style: none;
    padding: 0;
    margin-left: 15%;
}

.menu ul li {
    display: inline-block;
}

/*############ Style affichage de l'authentification ############*/
.auth {
    list-style: none;
    padding: 0;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 5%;
    margin-left: 17%;
}

.auth-connexion {
    list-style: none;
    padding: 0;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 5%;
}

.auth li{
    display: inline-block;
    padding-left: 8%;
}

.auth-connexion li{
    display: inline-block;
    padding-left: 8%;
}

.barre_auth {
    padding-top: 17%;
}

.barre_auth .label_nom {
    font-size: 1.3em;
}

.titre_accueil {
    text-align: center;
}

/*############ Style affichage de la div upload ############*/
.upload_style {
    background-color: #EE8900;
    padding: 4%;
    text-align: center;
    margin-top: 10%;
    border-radius: 10px;
}

.label-file {
    cursor: pointer;
    color: #FEE441;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}

#filePdf {
    display: none;
}

.btn-file {
    padding-bottom: 3%;
}

.upload_style .form-upload {
    text-align: center;
}

.ctn_upload {
    text-align: center;
    background-color: #EE8900;
    padding: 3%;
    border-radius: 10px;
}

.ctn_upload textarea {
    max-width: 50%;
}

.ctn_upload h2 {
    padding-bottom: 2%;
}

.contenu_technique {
    text-align: left;
    background-color: #EE8900;
    padding: 4%;
    border-radius: 10px;
}

.contenu-upload {
    margin-bottom: 60.7%;
}

/*############ Style de la barre de progression ############*/
.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.progress_bar {
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 9%;
}
.progress {
    width: 0%;
    background: green;
    height: 20px;
    border-radius: 10px;
}

/*############ Style affichage des pdf sur la page d'accueil ############*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 960px;
    margin: 0 auto 30px;
}

.img-container {
    position: relative;
}

.div-img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.title-meta {
    text-align: center;
    margin-bottom: 3%;
}

/*############ Style des boutons ############*/
.position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
}

.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}

#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #EE8900;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

#text {
    margin-top: -40px;
    text-align: center;
}

#text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
}

#text input {
    color: white;
    border: none;
    background-color: #005d7e;
    font-weight: 100;
    font-size: 1.1em;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #FEE441;
}

/*############ Style des boutons avec les background en orange ############*/
.position-div-orange {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
}

.svg-wrapper-div-orange {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}

#shape-div-orange {
    stroke-width: 6px;
    fill: transparent;
    stroke: #005d7e;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

#text-div-orange {
    margin-top: -35px;
    text-align: center;
}

#text-div-orange a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
}

#text-div-orange input {
    color: white;
    border: none;
    background-color: #EE8900;
    font-weight: 100;
    font-size: 1.1em;
}

.svg-wrapper-div-orange:hover #shape-div-orange {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}

/*############ Style de la page paiement ############*/
.contenu-paiement {
    text-align: center;
    background-color: #EE8900;
    padding: 4%;
    margin-bottom: 17.5%;
    border-radius: 10px;
}

.contenu-paiement p {
    font-size: 1.3em;
}


/*############ Style de la page détails des pdf ############*/
.contenu-detail {
    background-color: #EE8900;
    color: white;
    padding: 3%;
    border-radius: 10px;
}

.fieldsetEmail {
    text-align: center;
}

.detail-img {
    position: relative;
}

.img-pdf {
    height: 450px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2%;
}

.fond {
    left: 0;
    top:0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 450px;
    align-items: center;
    justify-content: center;
    background-color: rgba(45, 45, 45, 0.5);
    font-size: 20pt;
    font-weight: bolder;
    color: white;
}

/*############ Style des boutons supprimer et modifier ############*/
.spot-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper-upload {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}

#shape-upload {
    stroke-width: 6px;
    fill: transparent;
    stroke: #EE8900;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

#text-upload {
    margin-top: -35px;
    text-align: center;
}

#text-upload a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
}

.svg-wrapper-upload:hover #shape-upload {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #FEE441;
}

.col {
    list-style: none;
    padding: 0;
    text-align: center;
}

.ligne {
    display: inline-block;
}


/*############ Style du footer ############*/
.btnListe {
    margin-top: 2%;
}


/*############ Style du footer ############*/
footer {
    grid-column: span 3;
    padding: 30px 20px 30px 40px;
    text-align: center;
    font-size: 1em;
    background-color: black;
    color: white;
    margin-top: 25%;
}

