<!DOCTYPE html>
<html>
<head>
    <title>Catalogue de fichiers</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="" />
</head>
<body>
    <p>Je suis la</p>
    {% block content %}
    {% endblock %}
</body>
</html>